{{!-- <link rel="stylesheet" href="css/cards.css">
<body>
    <div class="body justify-content-center vh-100 m-0" >
        <h1 class="bg-gray-900">Bienvenido al centro de control covit-19</h1>

     </div>
</body> --}}

<link rel="stylesheet" href="/css/style.css">
<div class="video-background">
  <div class="video-wrap">
    <div id="video">
      <video id="bgvid" autoplay loop muted playsinline>
        <source src="/imagenes/video.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>

<div class="caption text-center">
    <h1>Covid-19    <span style="background-color:#000;">Center</span></h1>
    <a class="btn btn-outline-light btn-lg"href="/login">Login</a>
</div>
